body, h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    color: white;
    padding: 10px 20px;
    margin: 10px;
    background-color: green;
    width: 100px;
    height: 35px;
}

.completed {
    text-decoration: line-through;
}

input {
    width: 200px;
    height: 40px;

}