.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: brown;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    color: brown;
    padding: 10px 20px;
    margin: 10px;
    background-color: burlywood;
}